@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes pulse-limited {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse-limited {
  animation: pulse-limited 2s ease-in-out;
  animation-iteration-count: 7; /* Change this number to control the number of iterations */
}
